<!DOCTYPE html>
<html>
    <head>
        <title>Blog - New Post</title>
        <link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='/css/main.css' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Serif+Pro' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="navigation">
        <div id="logo"><img src="/img/recipe-box.png" class="img-responsive"/></div>
      </div>
      <div class="container">
        <h1>New Post</h1>

        <form action="/posts" method="POST">

            <p>
            <label>Title</label>
            <input type="text" id="title" name="title" value="" required/>
            </p>

            <p>
            <label>Custom URL</label>
            <input type="text" id="custom" name="custom" value="" required/>
            </p>

            <p>
            <label>Author</label>
            <input type="text" id="author" name="author" value="" />
            </p>

            <p>
            <label>Category</label>
            <input type="text" id="category" name="category" value="" />
            </p>

            <p>
            <label>Content</label>
            <input type="text" id="content" name="content" value="" />
            </p>

            <p>
            <label>Thumbnail Image</label>
            <input type="text" id="link" name="link" value="" />
            </p>

            <button>Create</button>

        </form>
      </div>
    </body>
</html>
