/*typography*/
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #83BCFF;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #83BCFF;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #83BCFF;
}
p {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #303030;
}
a {
  color: #83BCFF;;
}
a:hover {
  color: #97D2FB;
}

.intro {
  font-size: 1.8em;
  padding: 2em 0 1.5em 0;
  background-color: #E06C9F;
  margin-bottom: 20px;
}

.intro p {
  color: #fff;
}

.info {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.date{
  color: #E06C9F;
}

.butn {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 0 20px 0;
}

button.butn {
  padding: 1em 2em 1em 2em;
  background-color: #E06C9F;
  color: #fff;
  border: none;
}

button.butn:hover {
  padding: 1em 2em 1em 2em;
  background-color: #F08CAE;
  color: #fff;
  border: none;
  text-decoration: none;
}

.butntext {
  padding: 1em 2em 1em 2em;
  background-color: #E06C9F;
  color: #fff;
}

.butntext:hover {
  padding: 1em 2em 1em 2em;
  background-color: #F08CAE;
  color: #fff;
  text-decoration: none;
}

button.upd {
  background-color: #83BCFF;
}

button.upd:hover {
  background-color: #97D2FB;
}
/*form styling*/
#title, #custom, #author, #category, #content, #link {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #E06C9F;
  border-left: none;
  width: 100%;
}

/*layout*/

.test {
  background-color: #f42144;
}

#navigation {
  padding: 10px 0 10px 0;
}

#logo {
  width: 19%;
  margin: 0 auto;
}

#logo img {
  width: 100%;
}

.list {
  margin-bottom: 15px;
}

footer {
  background-color: #83BCFF;
  margin-top: 20px;
}

footer p, footer a {
  color: #fff;
  margin: 10px 0 10px 0;
  text-align: center;
}

footer a:hover {
  color: #fff;
}

/*header image media queries*/
.headerimage {
  max-height:300px;
  overflow:hidden;
}

.headimg {
  width: 100%;
}

.thumb{
  max-height:200px;
  overflow:hidden;
}

@media (max-width: 850px){
  .headerimage {
    max-height:250px;
    overflow:hidden;
  }
}

@media (max-width: 650px){
  .headerimage {
    max-height:200px;
    overflow:hidden;
  }
  #logo {
      width: 30%;
      margin: 0 auto;
  }
}
/*container media queries*/
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4.5em;
}
.footer, .space {
height: 4.5em;
}
